/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variables css - Fonts */
:root {
  --header-height: 3.5rem;
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  /* --body-color: hsl(0, 0%, 0%); */
  --body-color: #caa869;
  --container-color: hsl(0, 0%, 8%);
  /* font and typography 
    /.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  -webkit-user-select: none;
  user-select: none;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  -webkit-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* font-weight: bold; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home,
.about,
.blog{
  padding-block: 4rem 1rem;
}
/* BASE Ends */

/* Reusable Css Classes */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}



.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}
/* Reusable Css Classes Ends */

/* Small devices */
/* navbarSection */
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background-color 0.5s ease;
}

.scroll-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav__link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
} 

.nav__link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav__link:hover::after {
  width: 70%;
}

/* Mobile Nav */
@media screen and (max-width: 1023px) {
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 4rem;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    transition: top .5s;
  }

  .nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .nav__close {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
  }

  .show-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 2rem;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    transition: top .5s;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
  }

  .nav__toggle,
  .nav__close {
    cursor: pointer;
  }

  .blog__image {
    position: absolute;
    overflow: hidden;
  }
}
/* Mobile Nav Ends */
/* Navbar Section Ends */

/* Home Section */
.home {
  position: relative;
}

.home__title,
.home__description,
.home__subtitle {
  margin-bottom: 10px;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  object-position: center;
  height: 100%;
}

.home__container {
  position: relative;
  top: 65%;
  flex-direction: column-reverse;
}

.home__subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: #ffd300;
  /* color: /*hsl(27.38deg 100% 50%) !important; */
}

.home__description {
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: hsl(0deg 48.81% 25.72%) !important;
}

.home__title {
  font-size: 2rem;
  margin-top: -0.4rem;
}

.button {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 1.25rem 1.5rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--second-font);
  -webkit-backdrop-filter: blur(24px); /*Safari-IOS*/
  backdrop-filter: blur(24px);
  color: var(--title-color);
  font-weight: var(--font-semi-bold) !important;
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
  font-weight: initial;
}

.button:hover i {
  transform: translateX(0.25rem);
  color: #ffd300;
}

.mouseScroll {
  background: transparent !important;
  position: absolute;
  padding: 0px;
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0% {
    top: 90%;
  }
  50% {
    top: 87%;
  }
  100% {
    top: 90%;
  }
}
/* Home Cards */
.home__cards {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  background: transparent;
  top: 50%;
  margin-bottom: 5rem;
  -webkit-user-select: none;
  user-select: none;
}

.box {
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #1c1c1c 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 53px;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h3 {
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20%;
  font-size: 20px;
}

.overlay p {
  color: white;
  writing-mode: unset;
}

.box:hover img {
  transform: scale(1.2);
}

.box:hover .overlay {
  height: 105%;
}

.box svg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.box:hover svg {
  display: none;
}

.box:not(:hover) svg {
  display: block;
}
/* Home Cards Ends */
/* Home Section Ends*/

/* About Section */
.about__container {
  row-gap: 3rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
  color: hsl(0deg 0% 0%);
}

.about__image {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about__img {
  width: 300px;
  transition: transform 0.4s;
  border-radius: 5%;
}

/* .about__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  );
} */

.about__image:hover .about__img {
  transform: scale(1.2);
}
/* About Section Ends*/

/* FormSection */
.form__container {
  width: 100%;
  height: 10%;
  margin-left: 0px;
  padding: 20px;
  row-gap: 3rem;
  padding-bottom: 8.5rem;
  background-color: #5d4b2a !important;
  margin-bottom: 0.5rem;
}

#form__tittle{
  margin-top: 50px;
}

.form__data {
  text-align: center;
}

.form__description {
  margin-bottom: 2rem;
}

.join__form {
  display: grid;
  row-gap: 1rem;
}

.form__input {
  padding: 1.25rem 1rem;
  background-color: var(--container-color);
}

.form__button {
  cursor: pointer;
  text-align: center !important;
  width: 50%;
}

.form__image {
  position: relative;
  justify-self: center;
  overflow: hidden;
  border-radius: 5px;
}

.form__img {
  width: 300px;
  transition: transform 0.4s;
}

.form__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  ) !important;
}

.form__image:hover .form__img{
  transform: scale(1.2);
}
/* FormSection Ends*/

/* Blog Section */
.blog{
  background-color: hsl(0deg 48.81% 25.72%) !important;
  position: relative;
  text-align: center;
  padding-bottom: 4.5rem;
  margin-bottom: 0rem;
}

.blog__image {
  position: absolute;
  overflow: hidden;
  height: 596px;
}

.blog__img{
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}

.blog__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(0, 46%, 26%) 5%, hsla(0, 0%, 0%, 0) 40%, hsla(0, 0%, 0%, 0) 60%, hsl(0, 46%, 26%) 92%
  );
}

.blog__content{
  position: relative;
  padding-top: 12rem;
  row-gap: 1.5rem;
}

#blog__title {
  margin-bottom: 1rem;
}

.blog__data {
  padding-bottom: 2.5rem;
}

.blog__user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.blog__profile {
  width: 30px;
  border-radius: 50%;
  transition: .4s;
}

.blog__profile:hover {
  cursor: pointer;
  transform: scale(1.5);
}


.blog__name {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
/* Blog Section ends*/

/* FooterSection */
footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .footerMenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  list-style: none;
}

footer .footerMenu {
  list-style: none;
}

footer .footerMenu li a {
  font-size: 1.2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.75;
  transition: 0.5s;
}

footer .footerMenu li a:hover {
  opacity: 1;
  transform: translateX(5px);
}

.social_icon li a {
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: 0.5s;
  display: inline-block;
  margin: 0 10px;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

.secondFooter {
  display: flex;
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/*footer animation*/
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../images/wave.png");
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 0.9;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position: 1000px;
  }
}
/*Footer section ends*/
/* Small devices ends*/

/* medium devices */
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .blog__content,
  .form__container {
    grid-template-columns: 380px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px){
  .home__cards {
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }

  .about__container,
  .form__container
  {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .about__data,
  .about__data .section__title,
  .form__data,
  .form__data .section__title{
    text-align: initial;
  }

  .blog__img{
    width: 100%;
  }

  .form__image {
    order: -1;
  }
}
/* medium devices ends*/

/* large devices */
@media screen and (min-width: 1023px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list{
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
  }

  .overlay {
    padding: 0px 11px;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 0rem 2rem;
  }

  .about {
    padding-block: 5rem 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .home__container{
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 6.5rem;
  }

  .home__data {
    text-align: initial;
    width: 600px;
  }

  .home__cards{
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
  }

  .button {
    column-gap: 1.5rem;
  }

  .about__container{
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }

  .about__description {
    margin-bottom: 3rem;
  }

  .about__img{
    width: 460px;
  }

  .blog__img {
    height: 600px;
  }

  .blog__content{
    padding-top: 28rem;
    grid-template-columns: 670px 1fr;
  }

  .blog__data, .blog__data .section__title{
    text-align: initial;
  }

  .blog__user{
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.25rem;
  }

  .form__container {
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 3rem 7rem;
    max-width: 100%;
    margin-bottom: -10px;
  }

  .form__img{
    width: 460px;
  }

  .form__description {
    margin-bottom: 3rem;
  }
}
/* large devices ends*/

/* .navbar {
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.navbar a:hover {
  background-color: #575757;
  transform: translateY(-2px);
}

.navbar a.active {
  background-color: #04aa6d;
}

.navbar a:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(4, 170, 109, 0.5);
}

.navbar::after {
  display:flex;
  flex-direction: column-reverse;
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to right, #04aa6d, #575757);
  margin-top: -4px;
}

.navbar a::before {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #04aa6d;
  transition: width 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar a:hover::before {
  width: 100%;
} */
/* navbarSection Ends*/